<div class="main">
    <div class="home_body">
        <h3>404: File not found</h3>
        <div>
            Sorry, we couldn't find the page you were looking for. It may not exist. Please try again.
        </div>
    </div>
</div>