<div class="header">
    <a href="/" class="header_title">XE Clone</a>
    <div class="header_links">
        <a href="/send" class="link">Send Money</a>
        <a href="/converter" class="link">Converter</a>
        <a href="/api" class="link">Currency API</a>
        <a href="/tools" class="link">Tools</a>
    </div>
    <div class="header_buttons">
        <a href="/login"><button id="sign_in">Sign In</button></a>
        <a href="/register"><button id="register">Register</button></a>
    </div>
</div>
<div class="background">
    <div class="bgTop">
        <div id="title">Currency Converter</div>
    </div>
    <div class="bgBottom"></div>
</div>