<div class="main">
    <div class="home_body">
        <h2>Welcome to Currency Converter</h2>
        <div>
            Welcome to the Currency Converter, your go-to web application for real-time currency exchange calculations! Designed as part of a web programming project at Whatcom Community College, this application simplifies financial transactions by providing accurate exchange rates through the trusted v6.exchangerate-api.com service. Whether you're planning a trip abroad, making international purchases, or just curious about currency values, our app is built to deliver fast and reliable results. The clean and intuitive interface ensures ease of use, while the power of Node.js, Express, and EJS makes it responsive and efficient.
        </div>
        <h3>Features and Future Plans</h3>
        <div>
            Currency conversion is just the beginning! In addition to its core functionality, this application is being developed with future features in mind, including secure money transfers and its own API for broader integrations. User authentication is handled with Passport.js, ensuring your interactions are secure. Stay tuned as we continue to build and expand this project, leveraging modern web technologies and best practices to deliver a versatile and robust tool for global financial needs. Thank you for exploring the Currency Converter, and we look forward to growing this application alongside our learning journey!
        </div>
        <div class="currency_go">
            <a href="/converter" class="convert">Currency Converter</a>
        </div>
    </div>
</div>